/.vs/SimpleWebApiToDoListDemo/v17
/SimpleWebApiToDoListDemo/bin/Debug/net5.0
/SimpleWebApiToDoListDemo/obj/Debug/net5.0
/ToDoListTests/obj/Debug/net5.0
/SimpleWebApiToDoListDemo/obj
/ToDoListTests/obj
/SimpleWebApiToDoListDemo/Logs
